@font-face
{
  font-family:"Andale Mono";
  src: url("andale.eot?") format("embedded-opentype"),
       local("Andale Mono"),
       url("andale.ttf") format("truetype");
}


*{
  margin:0;
  border:0;
  padding:0;
  border-collapse:collapse;
  border-spacing:0;
  font-size:inherit;
  font-style:inherit;
  font-family:inherit;
  font-weight:inherit;
  text-decoration:none;
  letter-spacing:inherit;
  color:inherit;
  background-color:transparent;
  list-style-type:none;
}
*:focus{
  outline:0
}
html{
  background-image:url("../assets/bg/slate.png");
}
body,html{
  position:relative;
  font-family:"Andale Mono", monospace;
}
body{
  height:100vh;
}
div{
  position:relative;
}
input, textarea{
  outline:none;
}
a, button, label{
  cursor:pointer;
}

h1{
  font-size:0;
}

body{
  height:100vh;
  overflow-y:hidden;
}
body>div{
  height:100vh;
}
body>:nth-of-type(1){
  overflow-y:scroll;
}
body>:nth-of-type(2){
}
#create{
  min-height:100vh;
}
#view{
  z-index:2;
  box-shadow:0px 0px 50px 0px #333;
}
#frame{
  position:relative;
  display:block;
  z-index:2000;
  height:100vh;
  background-color:white;
}


.tiles>*{
  display:inline-block;
  position:absolute;
  z-index:100;
  white-space:nowrap;
  font-size:13px;
  height:22px;
  line-height:22px;
  min-width:15px;
  width:15px;
  vertical-align:top;

  cursor:move;
  outline:1px solid #ddd;
  color:#000;
  background-color:#fff;
  font-family:"Andale Mono", monospace;
  font-weight:normal;

  opacity:0.9;
}
.tiles>:hover,
.tiles>:focus{
  opacity:1;
  background-color:#fff;
}
.tiles>:focus{
  outline:none;
  z-index:200;
  box-shadow:0px 0px 10px 2px #fff;
}
.htmlTag{
  color:#a0a;
}
#controls{
  position:absolute;
  top:0;
  right:0;
  z-index:2000;
}
#controls a{
  color:black;
}

body, html{
  width:100vw;
}
body{
  display:flex;
  display:-webkit-flex;
  flex-direction:row;
}
body>div{
  flex-basis:420px;
  -webkit-flex-basis:420px;
}
#createWrap{
  flex-shrink:0;
  -webkit-flex-shrink:0;
  direction:rtl;
}
#viewWrap{
  flex-grow:1;
  -webkit-flex-grow:1;
}
#create, #frame{
  width:100%;
}
#create{
  direction:ltr;
}
#frame{
  min-width:320px;
}
@media (max-width:420px){
  body{
    width:200vw;
  }
  body>div{
    flex-basis:100vw;
    -webkit-flex-basis:100vw;
  }
  #frame{
    min-width:none;
  }
}
