@font-face
{
  font-family:"Andale Mono";
  src: url("andale.eot?") format("embedded-opentype"),
       local("Andale Mono"),
       url("andale.ttf") format("truetype");
}


*{
  margin:0;
  border:0;
  padding:0;
  border-collapse:collapse;
  border-spacing:0;
  font-size:inherit;
  font-style:inherit;
  font-family:inherit;
  font-weight:inherit;
  text-decoration:none;
  letter-spacing:inherit;
  color:inherit;
  background-color:transparent;
  list-style-type:none;
  box-sizing:border-box;
}
*:focus{
  outline:0
}
body,html{
  width:100%;
  min-width:320px;
  position:relative;
  font-size:0;
  font-family:"Andale Mono";
}
html{
  height:100%;
}
body{
  min-height:100%;
}
div{
  position:relative;
}
input, textarea{
  outline:none;
}
a, button, label{
  cursor:pointer;
}

h1{
  font-size:0;
}

#sandbox{
  display:flex;
}
#create, #view{
  flex-basis:320px;
  height:100vh;
  overflow:hidden;
}
#create{
  flex-shrink:0;
}
#view{
  flex-grow:1;
  box-shadow:0px 0px 50px 0px #333;
}
#create{
  background-image:url("../assets/grey_wash_wall.png");
}
#tiles{
  height:100%;
  z-index:100;
}

#controls{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  font-size:14px;
  line-height:22px;
  z-index:1000;
  background-color:rgba(240, 220, 255, 0.6);
  display:none;
}
#controls button{
  flex-basis:50px;
  text-transform:lowercase;
}
#controls #accountButton{
  flex-grow:1;
}
#controls button:hover{
  background-color:rgba(255, 255, 255, 0.6);
}
.draggable>*{
  cursor:move;
}
.invisible{
  display:block !important;
  z-index:2000 !important;
  position:fixed !important;
  top:100px !important;
  left:100px !important;
  /*opacity:0.01;*/
}

/*@media screen and (max-width: 640px){
  body{
    width:190vw;
  }
  #create, #view{
    width:95vw;
  }
}*/
