.tile{
  display:inline-block;
  position:relative;
  white-space:nowrap;
  font-size:13px;
  height:22px;
  line-height:22px;
  vertical-align:top;
  outline:1px solid #ddd;
  background-color:#fff;
  z-index:100;
  color:black;
  font-family:"Georgia", serif;
  font-weight:normal;
  opacity:0.9;
}
.tile:hover{
  cursor:pointer;
  opacity:1;
}
.tile.draggable{
  position:absolute;
  cursor:move;
  min-width:15px;
  width:15px;
  background-color:#fff;
  box-shadow:0px 0px 5px 0px #554;
  opacity:1;
}
.tile.draggable:focus{
  outline:none;
  box-shadow:0px 0px 10px 2px #fff;
}
.tile.t{
  color:#881280;
  font-family:"Andale Mono", sans-serif;
}
.tile.c{
  color:#994500;
}
.tile.b{
  color:#1a1aa6;
}
