.tile{
  display:inline-block;
  white-space:nowrap;
  font-size:12px;
  height:22px;
  line-height:22px;
  vertical-align:top;
  outline:1px solid #ddc;
  background-color:#fcfcfc;
  z-index:100;
  color:black;
  font-family:"Georgia", serif;
  font-weight:normal;
}
.tile:hover{
  background-color:#eef;
  cursor:pointer;
}
.tile.draggable{
  position:absolute;
  cursor:move;
  padding:0px 3px;
  margin:0 2px 2px 0;
  border-width:1px;
  border-style:solid;
  border-color:#fff #ddc #ddc #fff;
  box-shadow:0px 0px 5px 0px #554;
  min-width:15px;
  width:15px;
  outline:none;
}
.tile.draggable:hover{
  background-color:#fff;
  border-color:#fff #bbb #bbb #fff;
}
.tile.draggable:focus{
  box-shadow:0px 0px 10px 0 #fff;
}
.tile.t{
  color:#881280;
  padding: 0;
  font-family:"Andale Mono", sans-serif;
}
.tile.c{
  color:#994500;
}
.tile.b{
  color:#1a1aa6;
}
