<!DOCTYPE html>
<html>
  <head>
    <title>Magnetic HTML</title>
    <script src="../lib/angular.js"></script>
    <script src="./js/draggable.js"></script>
    <script src="./js/app.js"></script>
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="./css/tiles.css" />
  </head>
  <body>
    <header>
      <h1>Magnetic HTML</h1>
      <nav>
        <ul>
          <li><a href="#buy">Magnetic HTML for your fridge on Amazon!</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact me</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="modals">
        <div id="account">

        </div>
        <div id="about">

        </div>
        <div id="contact">

        </div>
      </div>
    </main>
    <footer id="sandbox" data-ng-app="magnetic">
      <div id="create">
        <div id="controls">
          <button id="htmlButton" title="Show HTML tiles">&lt;/a&gt;</button>
          <button id="addButton" title="Add a tile">&#10133;</button>
          <button id="saveButton" title="Save (or copy)">&#10004;</button>
          <button id="deleteButton" title="Delete tiles">&#10006;</button>
          <button id="lookupButton" title="Look up others' creations">&#128269;</button>
          <button id="accountButton" title="Your account">Log in</button>
        </div>
        <div id="tiles">
          <t></t>
          <t></t>
        </div>
        <div id="html" data-ng-controller="tagController as tagCtrl">
          <div data-ng-repeat="tag in tagCtrl.tags track by $index">
            <t data-ng-model="tag"></t>
          </div>
        </div>
      </div>
      <div id="view">

      </div>
    </footer>
  </body>
</html>
