*{
  margin:0;
  border:0;
  padding:0;
  border-collapse:collapse;
  border-spacing:0;
  font-size:inherit;
  font-style:inherit;
  font-family:inherit;
  font-weight:inherit;
  text-decoration:none;
  letter-spacing:inherit;
  color:inherit;
  background-color:transparent;
  list-style-type:none;
}
*:focus{
  outline:0
}
html{
  background-color:#f3f3f3;
}
body,html{
  position:relative;
  font-family: "Andale Mono", monospace;
}
body{
  height:100vh;
}
div{
  position:relative;
}
input, textarea{
  outline:none;
}
a, button, label{
  cursor:pointer;
}
button, .button{
  text-align:center;
}

body{
  height:100vh;
  overflow-y:hidden;
  font-size:13px;
}
body>div{
  height:100vh;
}
body>:nth-of-type(1){
  overflow-y:scroll;
}
body>:nth-of-type(2){
}
#create{
  min-height:100vh;
}
#viewWrap{
}
#frame{
  position:relative;
  display:block;
  height:100vh;
  background-color:white;
}

.tile,
.tiles>*{
  color:#222;
  background-color:#fff;
  display:inline-block;
  height:36px;
  line-height:36px;
  outline:1px solid #eee;
}
.tiles>input{
  position:absolute;
  padding:0;
  min-width:1px;
  width:15px;
}
.draggable>*{
  cursor:move;
}
.tiles>input:hover,
.tiles>a[href]:hover,
.tiles>:focus{
  background-color:#eee;
}
.tiles>:active{
  box-shadow:2px 2px 5px 0px #bbb;
}
.htmlTag{
  color:#808;
}
.specialChar{
  color:#d60;
}
nav{
  height:36px;
  width:100%;
  overflow:hidden;
}
nav *{
  box-sizing:border-box;
}
#main-nav{
  display:flex;
  display:-webkit-flex;
  flex-direction:row;
  -webkit-flex-direction:row;
  align-content:stretch;
  -webkit-align-content:stretch;
}
#main-nav>*{
  flex-basis:20px;
  -webkit-flex-basis:20px;
  flex-grow:1;
  -webkit-flex-grow:1;
  text-align:center;
  height:36px;
  line-height:36px;
  background-color:#f3f3f3;
}
#main-nav>a:hover{
  background-color:#fff;
}
#main-nav>a:before{
  content:"";
  display:block;
  position:relative;
  width:20px;
  height:20px;
  left:50%;
  margin-left:-10px;
  margin-top:8px;
  background-image:url("controls.png");
  background-repeat:no-repeat;
}
nav .view:before{
  background-position:center 0px;
}
nav .home:before{
  background-position:center -20px;
}
nav .blank:before{
  background-position:center -40px;
}
nav .email:before{
  background-position:center -60px;
}
nav .save:before{
  background-position:center -80px;
}
nav .amazon:before{
  background-position:center -100px;
}
#sub-nav{
  position:absolute;
  bottom:100%;
  left:0;
  width:100%;
}
#sub-nav>*{
  position:absolute;
  top:-500px;
  width:100%;
  transition:top 0.5s;
  padding:10px;
  box-shadow:0px 0px 20px 0px #333;
  background-color:#eee;
}
#sub-nav>:target{
  top:0;
}
#sub-nav input[type=text],
#sub-nav textarea,
#sub-nav button,
#sub-nav .button,
#sub-nav label,
#sub-nav .g-recaptcha{
  display:block;
  width:100%;
  line-height:18px;
  background-color:#ddd;
  margin-top:10px;
  padding:5px;
  border-radius:5px;
}
#sub-nav input[type=text]:focus,
#sub-nav textarea:focus,
#sub-nav button:hover,
#sub-nav .button:hover,
#sub-nav input:checked + label{
  background-color:#fff;
}
#sub-nav .g-recaptcha{
  background-color:#fff;
}
.g-recaptcha div{
  margin:0 auto;
}
input[type=checkbox]{
  display:block;
  width:1px;
  height:1px;
  overflow:hidden;
  position:absolute;
  opacity:0.01;
}
input+label:after{
  content:"?";
}
input:checked+label:after{
  content:"!";
}

#create{
  z-index:1;
}
#view{
  z-index:2;
}
.tiles>*{
  z-index:3;
}
.tiles>:active{
  z-index:4;
}
#frame{
  z-index:5;
}
#main-nav{
  z-index:6;
}
#sub-nav{
  z-index:7;
}


body{
  display:flex;
  display:-webkit-flex;
  flex-direction:row;
  -webkit-flex-direction:row;
  align-content:stretch;
  -webkit-align-content:stretch;
}
body>div{
  flex-basis:320px;
  -webkit-flex-basis:320px;
}
#createWrap{
  direction:rtl;
  overflow-x:hidden;
  flex-grow:1;
  -webkit-flex-grow:1;
  flex-shrink:0;
  -webkit-flex-shrink:0;
}
#createWrap>*{
  direction:ltr;
}
#viewWrap{
  border-left:1px solid #e6e6e6;
  flex-grow:2;
  -webkit-flex-grow:2;
  flex-shrink:0;
  -webkit-flex-shrink:0;
}
#create, #frame{
  width:100%;
}
@media (max-width:420px){
  body{
    width:200vw;
  }
  body>div{
    flex-basis:100vw;
    -webkit-flex-basis:100vw;
  }
}
