*{
  margin:0;
  border:0;
  padding:0;
  border-collapse:collapse;
  border-spacing:0;
  font-size:inherit;
  font-style:inherit;
  font-family:inherit;
  font-weight:inherit;
  text-decoration:none;
  letter-spacing:inherit;
  color:inherit;
  background-color:transparent;
  list-style-type:none;

  line-height:1.4em;
  box-sizing:border-box;
  border-radius:5px;
  margin-left:auto;
  margin-right:auto;
}
*:focus{
  outline:0
}
html{
  background-color:#f3f3f3;
  color:#444;
}
body,html{
  position:relative;
  font-family:"Times New Roman", serif;
  font-size:18px;
}
body{
  min-height:100vh;
}
div{
  position:relative;
}
input, textarea{
  outline:none;
}
a, button, label{
  cursor:pointer;
}


.container{
  max-width:800px;
  padding:20px 40px;
}
h1,h2,h3,h4,h5,h6,
button, .button, .buttons>*{
  font-family:Helvetica, Arial, sans-serif;
}
h1{ font-size:64px; }
h2{ font-size:24px; }
h1,h2,h3,h4,h5,h6{
  margin-top:20px;
  margin-bottom:20px;
}
p, img{
  margin-top:10px;
  margin-bottom:10px;
}

button, .button, .buttons>*{
  display:inline-block;
  text-align:center;
  margin-top:1px;
  padding:10px;
  text-transform:uppercase;
  letter-spacing:2px;
  font-size:12px;
  font-weight:bold;
  transition: 0.05s background-color, 0.05s color;
}
button, .button, .buttons>*,
button.primary:hover, .button.primary:hover, .buttons>.primary:hover{
  background-color:white;
  color:#5af;
}
button:hover, .button:hover, .buttons>*:hover,
button.primary, .button.primary, .buttons>.primary{
  background-color:#5af;
  color:#fff;
}
.full-width,
.full-widths>*{
  display:block;
  width:100%;
}

img{
  display:block;
  width:100%;
  overflow:hidden;
}
header{
  background-color:#fff;
  padding:10px 0;
  color:#666;
  text-align:center;
}
section{
  border-radius:0;
  border-top:1px solid #eee;
  margin-top:40px;
  margin-bottom:40px;
  padding-top:20px;
  padding-bottom:20px;
}
